@import url('https://fonts.googleapis.com/css2?family=Arvo:wght@400;700&family=Press+Start+2P&display=swap');

:root {
  --main: black;
  --secondary: white;
  --accent: #00ccff;
  --accent-shadow: #00637f;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

a {
  text-decoration: none;
  color: var(--main);
}

a span {
  display: flex;
  align-items: center;
}

a span svg {
  font-size: 40px;
}

ul {
  margin: 0;
  padding: 0;
}

ul li {
  list-style: none;
}

h1 {
  display: flex;
  align-items: center;
  gap: 10px;
}

.active {
  color: var(--accent);
}

.loading {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 0 auto;
  margin-top: 40px;
  width: 450px;
}

.ringloader {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
}

nav.nav {
  position: sticky;
  top: 0;
  z-index: 1000;
}

.nav {
  background: var(--main);
  color: var(--secondary);
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
  padding: 0.5rem 2rem;
  border-bottom: 5px #222 solid;
  box-shadow: 0 0 10px black;
}

.site-title {
  font-family: 'Press Start 2P';
  font-size: 1.8rem;
  letter-spacing: 10px;
}

#title {
  transition: all 0.05s;
  color: var(--accent);
  text-shadow: 0px 2px 0px var(--accent-shadow),
    0px 3px 0px var(--accent-shadow), 0px 4px 0px var(--accent-shadow),
    0px 5px 0px var(--accent-shadow), 0px 5px 0px var(--accent-shadow),
    0px 6px 0px var(--accent-shadow), 0px 7px 0px var(--accent-shadow),
    0px 8px 0px var(--accent-shadow);
}

#title:active {
  translate: 0px 1.5px;
  text-shadow: 0px 2px 0px var(--accent-shadow),
    0px 3px 0px var(--accent-shadow), 0px 4px 0px var(--accent-shadow),
    0px 5px 0px var(--accent-shadow), 0px 5px 0px var(--accent-shadow),
    0px 6px 0px var(--accent-shadow), 0px 7px 0px var(--accent-shadow),
    0px 8px 0px var(--accent-shadow);
}

.nav ul {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  gap: 1rem;
}

.nav a div {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3px;
}

.nav a div p {
  margin: 0;
}

.nav a {
  color: inherit;
  text-decoration: none;
  transition: all 0.1s;
}

.nav li.active {
  color: var(--accent);
}

.nav li:hover {
  color: var(--accent);
}

@media (max-width: 1000px) {
  nav.nav {
    gap: 0;
  }
  .nav ul {
    gap: 10px;
  }
  .search input {
    width: 78px;
  }
  .text {
    display: none;
  }
  ul li p {
    font-size: 30px;
    margin: 10px;
  }
}

/* HOME */
.container {
  margin: 20px;
  animation: on-load 0.5s forwards;
}

ul.home {
  padding: 0;
  margin: 20px auto;
  justify-content: center;
}

.home {
  display: grid;
  grid-template-columns: repeat(auto-fit, 200px);
  gap: 20px;
}

.pagination-btns {
  display: flex;
  justify-content: center;
  gap: 40px;
  position: sticky;
  bottom: 20px;
  background: black;
  box-shadow: 0 0 10px #00000091;
  margin: 0 auto;
  width: 290px;
  padding: 10px 0;
  border-radius: 100px;
  z-index: 999;
  user-select: none;
}

.pagination-btns button {
  border-radius: 100px;
}

.pagination-btns h3 {
  font-weight: 400;
  margin: 0;
  color: var(--accent);
  font-size: 30px;
  cursor: pointer;
}

.pagination-btns h3:hover {
  text-shadow: var(--accent) 0 1px 20px, 1px 0 50px var(--accent);
}

.page-select {
  position: absolute;
  display: flex;
  gap: 10px;
  top: -70px;
  background: var(--main);
  box-shadow: 0 0 10px #00000091;
  padding: 10px;
  border-radius: 100px;
  animation: page-select 0.5s forwards;
  z-index: -1;
}

@keyframes page-select {
  0% {
    opacity: 0;
    top: -10px;
  }
  100% {
    opacity: 1;
    top: -70px;
  }
}

.search {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-bottom: 0.5px #ffffff45 solid;
  border-radius: 5px;
}

.search input {
  display: flex;
  border: none;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  text-align: start;
}

.search--input {
  display: flex;
  justify-content: center;
}

.search--icon {
  color: var(--accent) !important;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-right: 10px;
  font-size: 30px;
  color: var(--secondary);
  background: var(--main);
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  cursor: pointer;
}

.data-result {
  box-shadow: 0 0 10px var(--main);
  background: var(--main);
  padding: 0 20px;
  width: 300px;
  min-height: 30px;
  max-height: 295px;
  border-radius: 5px;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  position: absolute;
  top: 55px;
  overflow: hidden;
  overflow-y: scroll;
  z-index: 999;
  animation: on-load 0.2s forwards;
}

.data-result a {
  color: var(--secondary);
  text-decoration: none;
  text-transform: uppercase;
  background: red;
}

.data-result p {
  transition: all 0.1s;
}

.data-result p:hover {
  color: var(--accent);
}

.data-result::-webkit-scrollbar {
  display: none;
}

.card {
  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */
  gap: 10px;

  background: rgba(128, 128, 128, 0.139);
  border: 1px #0000002c solid;
  padding: 10px 20px;

  text-transform: uppercase;
  text-align: center;
  border-radius: 3px;
  cursor: pointer;

  box-shadow: 4px 4px 5px #00000023;
  border-radius: 10px;

  transition: all 0.1s;
  position: relative;
  overflow: hidden;
}

.card:hover {
  scale: 1.1;
  box-shadow: 4px 4px 10px #00000023;
}

.card svg {
  font-size: 30px;
}

.card-container {
  position: relative;
}

.card__like-btn {
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 1000;
}

.poke-name {
  font-weight: 700;
  font-size: 20px;
}

.card img {
  width: 150px;
}

.card img:nth-of-type(2) {
  width: 600px;
  position: absolute;
  left: -200px;
  top: -200px;

  filter: blur(13px) brightness(150%) saturate(200%);
  -webkit-filter: blur(13px) brightness(150%) saturate(200%);
  opacity: 0.15;
}

.home li {
  list-style: none;
}

/* FILTER */
.btn-container {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.type button {
  border-radius: 100px;
}

.type button:hover {
  background: var(--accent);
  color: var(--main);
  border-radius: 100px;
}

.active-btn {
  background: var(--accent);
  color: var(--main);
}

#all {
  background: white;
}

/* SIGN UN */
.signup {
  margin-top: 100px;
  height: 100%;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  animation: on-load 0.5s forwards;
}

.signup--card {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  padding: 60px;

  border-radius: 10px;
  box-shadow: 0 0px 10px #00000093, 0 0px 20px #00000093;

  background: var(--main);
  color: var(--secondary);
}

input {
  background: var(--main);
  color: var(--secondary);
  border: #ffffff31 1px solid;
  border-radius: 5px;
  outline: none;

  font-size: 20px;

  padding: 10px 10px;
  text-align: center;
}

.signin input {
  width: 70%;
}

button {
  background-color: var(--secondary);
  color: var(--main);
  border: none !important;
  border-radius: 5px;
  padding: 13px 17px;
  border: black 1px solid;
  font-size: 17px;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.1s;
}

button:hover {
  background: var(--accent);
}

.errors {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  gap: 30px;
}

.errors p {
  font-size: 20px;
  text-align: center;
  background: var(--main);
  border-radius: 100px;
  padding: 10px 30px;
  color: var(--secondary);
  box-shadow: 0 0 10px black;
  animation: on-load 0.2s forwards;
}

.congrats {
  animation: congrats 0.5s forwards;
  letter-spacing: 0px;
}

@keyframes congrats {
  0% {
    scale: 0.5;
    opacity: 0;
  }
  70% {
    scale: 1.05;
    opacity: 1;
  }
  100% {
    scale: 1;
  }
}

/* SIGN IN */
.signin {
  height: 100%;
}

.signin--form {
  background: linear-gradient(#00000018, #00000023);
  color: var(--main);
  width: 400px;
  border: 1px #00000054 solid;
  border-radius: 10px;
  box-shadow: 0 0 10px #00000054;
  padding: 20px;
  margin: auto auto;
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 20px;
  animation: on-load 0.5s forwards;
}

.signin input {
  box-shadow: 0 5px 10px 2px #00000072;
}

/* FAV */
.fav {
  /* display: flex; */
  /* flex-direction: column; */
  align-items: center;
  justify-content: center;
  animation: on-load 0.5s forwards;
  margin: 20px;
}

.fav ul {
  display: grid;
  grid-template-columns: repeat(autofit, 200px);
  margin: 40px 0;
}

.fav h1 {
  display: flex;
  justify-content: center;
  margin: 0 auto;
}

.fav h2 {
  display: flex;
  justify-content: center;
  margin: 0 auto;
}

.fav button {
  display: flex;
  justify-content: center;
  margin: 0 auto;
}

.fav button:hover {
  background: #f84545;
}

.likes-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
}

.gap {
  display: flex;
  flex-direction: column;
  gap: 60px;
}

/* PROFILE */
.profile {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  animation: on-load 0.5s forwards;
}

@keyframes on-load {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.theme {
  background: linear-gradient(
    to top right,
    var(--accent-shadow),
    var(--accent)
  );
  box-shadow: 0 0 10px var(--accent), 0 0 20px var(--accent-shadow);
  color: white;
  padding: 30px 50px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin: 50px;
}

.themes {
  display: flex;
  gap: 10px;
}

.themes button {
  border: none;
}

.delete--container {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 10px;
  margin-top: 200px;
}

.delete--container p {
  margin: 0;
}

.delete--container h3 {
  margin: 0;
}

.delete--btn:hover {
  background: #f84545;
}

.modal {
  background: #00000087;
  position: absolute;
  z-index: 999;

  width: 100vw;
  height: 94vh;

  display: flex;
  justify-content: center;
  align-items: center;
  perspective: 500px;
  overflow: hidden;

  animation: modal 1s forwards;
}

@keyframes modal {
  0% {
    backdrop-filter: blur(0px);
    -webkit-backdrop-filter: blur(0px);
    background: transparent;
  }
  100% {
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    background: #00000087;
  }
}

.modal--container {
  color: var(--secondary);
  background: var(--main);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
  padding: 50px;
  border-radius: 10px;
  box-shadow: 0 0 10px black;

  /* perspective: 100px; */
  transform: rotateX(0deg);
  transform-origin: top;

  animation: modal--container 0.5s forwards;
}

@keyframes modal--container {
  0% {
    opacity: 0;
    translate: 0px -60px;
    transform: rotateX(10deg);
  }
  70% {
    opacity: 1;
  }
  100% {
    translate: 0px 0px;
    transform: rotateX(0deg);
  }
}

.yesno {
  display: flex;
  gap: 40px;
}

.yes {
  background: transparent;
  border: 1px #ffffffa4 solid;
  color: #ffffffa4;
}

.yes:hover {
  background: #f84545;
  color: white;
}
/* 
#blue {
  border: #00ccff 1px solid;
}

#orange {
  background: orange;
}

#maroon {
  background: #b00000;
}

#pink {
  background: #fd68ee;
} */

/* POKEMON */
.pokemon__container {
  /* background-image: linear-gradient(
    to top left,
    #0000004a,
    #420a0a6d,
    #3c60154b,
    #2f0c4079
  ); */
  background: linear-gradient(#00000029, #420a0a48);
  /* background: #0b081529; */

  /* background-image: linear-gradient(
    to bottom right,
    rgba(128, 128, 128, 0.402),
    var(--accent),
    rgba(128, 128, 128, 0.402)
  ); */

  position: relative;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 0 auto;
  margin-top: 40px;
  width: 450px;
  border-radius: 10px;
  box-shadow: 0 0 10px #00000018, 0 0 20px #00000018;
  user-select: none;

  background-size: 100% 100%;
  background-position: top;

  animation: onload 0.5s forwards ease,
    card-background 15s alternate-reverse infinite ease;
  transition: all 0.4s;
}

@keyframes card-background {
  0% {
    background-position: bottom right;
  }
  100% {
    background-position: top left;
  }
}

@keyframes onload {
  0% {
    opacity: 0;
    filter: brightness(100%);
    -webkit-filter: brightness(100%);
    scale: 0.2;
    transform: perspective(200px) rotateX(20deg) rotateY(1deg);
  }
  64% {
    opacity: 1;
    filter: brightness(110%);
    -webkit-filter: brightness(110%);
    scale: 1.03;
    transform: perspective(200px) rotateX(0deg) rotateY(0deg);
  }
  100% {
    scale: 1;
    filter: brightness(100%);
    -webkit-filter: brightness(100%);
    transform: perspective(200px) rotateX(0deg) rotateY(0deg);
  }
}

.pokemon__container h1 {
  margin-bottom: 10px;
}

.pokemon-image {
  user-select: none;
  cursor: pointer;
  height: 300px;
  transform-origin: bottom;
  animation: pokemon-image 0.3s forwards, on-load 0.4s forwards;
}

@keyframes pokemon-image {
  0% {
    height: 290px;
    width: 310px;
  }
  50% {
    height: 305px;
    width: 295px;
  }
  100% {
    height: 300px;
    width: 300px;
  }
}

.pokemon-image:nth-child(2) {
  z-index: -1;
  rotate: 180deg;
  transform: scaleX(-1);
  position: absolute;
  top: -12px;
  left: 75px;
  fill: white;
  -webkit-mask-image: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(transparent 35%),
    to(#00000092)
  );
  mask-image: linear-gradient(to top, #00000092, transparent 35%);
  animation: pokemon-image 0.3s forwards, on-load 0.7s forwards;
}

.like-btn {
  position: absolute;
  bottom: 20px;
  right: 20px;
  font-size: 30px;
  transition: all 0.3s;
}

.red {
  color: red;
  animation: red 0.4s forwards;
}

@keyframes red {
  0% {
    scale: 0.8;
  }
  50% {
    scale: 1.2;
  }
  100% {
    scale: 1;
  }
}

.like-btn:hover {
  cursor: pointer;
}

.threeD {
  position: absolute;
  right: 30px;
  bottom: 0;
  color: var(--accent);
  cursor: pointer;
  text-shadow: 1px 1px 0px var(--accent-shadow),
    2px 2px 0px var(--accent-shadow), 3px 3px 0px var(--accent-shadow),
    4px 5px 0px var(--accent-shadow), 4px 4px 0px var(--accent-shadow),
    11px 11px 8px #000000;
  transition: all 0.5s;
}

.threeD:active {
  color: gold;
}

.off {
  display: none;
}

.types {
  display: flex;
  gap: 10px;
}

.types p {
  background: var(--main);
  color: var(--secondary);
  border-radius: 100px;
  padding: 10px 20px;
  text-transform: uppercase;
}

.stat ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
}

.stat-icons--container {
  display: flex;
  align-items: center;
  gap: 5px;
}
